<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Bootstrap recommendation for responsive design -->
        <title>Ask Chairman Trump</title>
  </head>
    
  <body>
    <!--Initialize Twitter sharing functionality; this is from Twitter's developer resources-->
    <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>
  
  <div class="body_wrapper"> <!--Make body take up the full height except for 94px for the footer-->
    
  <div class="container_fluid">
    <div class="container masthead">
      <%= link_to image_tag("banner.png", :alt => "Consult the Wisdom of Trump", :class => "img-responsive center-block consult_wisdom", :id => "header"), root_path %>
    </div>
    <p class="subheader">Get answers in the words of the great man himself.</p> <!--this is outside .container so it can span full width of page-->
  </div>

          <div class="container central_staging" id="central_staging">
            <div class="answer_page">
              <div id="question_holder"></div> <!--Here's where the question goes-->
              <div id="star_wrapper"><%= image_tag("trump_star.png", :alt => "Trump says...", :class => "img-responsive", :id => "star") %></div> <!--Here's illustration of Trump in a star-->
              <div id="answer_holder"></div> <!--Here's where the randomly generated answer goes-->
              <div id="tweet-container"></div> <!--Here's where the Tweet button goes-->
              <!-- Here's where the facebook button should go -->
            </div>
            
            <div id="homepage_only"> <!--This container for the Trump statue illustration gets deleted when the user submits a question-->
               <%= image_tag("trump_memorial.png", :alt => "Trump as the Lincoln Memorial", :class => "img-responsive center-block", :id => "memorial") %>
            </div>
            
            <h3 class="input_label" id="input_label">Stumped? Ask Trump!</h3>
              <div class="form-group form-group-lg"> <!--test-->
                <form id="magic-eight-ball" method="post" class="form-horizontal" role="form">
                  <label class="sr-only" for="search">Search question:</label>
                    <input type="text" class="form-control input-lg" id="question_for_trump" placeholder="Trump, should I wear jeans to work tomorrow?">
                    <span class="form-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                      </button>
                    </span>
                </form>
              </div> <!-- /form-group -->
        </div> <!-- /central_staging -->
  
  <!-- Here's the script to run the magic-eight-ball function. -->
  <!-- This takes the user's input from the form above, -->
  <!-- pairs it with a random quote from the list of answers -->
  <!-- and pops the two on the webpage -->
  <script type="text/javascript">
  $(document).ready(function() {
  $("form#magic-eight-ball").submit(function(e){ // start function on form submit
  e.preventDefault(); // not sure what this does
  var question = document.getElementById('question_for_trump').value; // initalizes variable containing user's question from the form
  
  if (question == "") { // If no input is present
    question = "President Trump, should I wear jeans to work tomorrow?" // Set a default value for the user's question 
  }
  
  // Start writing magic-eight-ball logic
  // First initialize array with list of Trump quotes to serve as answers
  var answers = [ "I’m Donald Trump. I wrote The Art of the Deal.", "We get rid of Obamacare, and we have a great life altogether.", "They say I’m the best-known businessman.", "I don’t have to brag. I don’t have to, believe it or not.", "I have instructed my long-time doctor to issue, within two weeks, a full medical report—it will show perfection.", "Donald Trump is one of the sexiest men on this planet.", "I’m a solid, stable person. I am a man of great achievement.", "Knock on wood.", "I win. It’s what I do. I beat people. I win.", "Washington is totally broken and it’s not going to get fixed unless we put the top person in that position.", "I’m not a politician, thank goodness.", "I’m a very competent person, okay?", "I am going to build a wall, a Great Wall, and it will probably be named after me.", "Everything I’ve done virtually has been a tremendous success.", "You know, when you watch your show, and all of the other shows, and you have the generals, and you have certain people—", "I will know more about the problems of this world by the time I sit.", "This world is a mess.", "I will be the greatest representative of the Christians they’ve had in a long time.", "I think if I do something wrong, I think, I just try and make it right.", "I don’t bring God into that picture. I don’t.", "When I drink my little wine—which is about the only wine I drink—and have my little cracker, I guess that is a form of asking for forgiveness, and I do that as often as possible because I feel cleansed.", "I’m strongly into the Bible; I’m strongly into God and religion. I’m pro-life and different things.", "The Bible! The Bible.", "The whole Bible is just incredible.", "I like the pope. … He seems like a pretty good guy.", "I’d say ISIS wants to get [the pope].", "Christians need support in our country (and around the world), their religious liberty is at stake!", "I don’t have to say it.", "Man, we could use a big fat dose of global warming!", "It has gotten totally out of control.", "I went to the Wharton School of Business… I’m, like, a really smart person.", "I’m the smart guy.", "I went to the Wharton School of Finance, I was an excellent student, I’m a smart person. I built a tremendous company. I had a show called The Apprentice that NBC desperately wanted me to do another season. I do all this stuff. Do you think I’d make a stupid statement like that? Who would make a statement like that?", "Only a sick person would even think about it.", "I went to an Ivy League school. Like an intelligent person, I know when to speak.", "There’s no problem with me going into details. I answer the way I want to answer.", "When somebody challenges you unfairly, fight back—be brutal, be tough—don’t take it.", "It is always important to WIN!", "I think everyone’s a threat to me.", "To be a winner you have to think like a winner.", "Everybody that’s hit me so far has gone down. They’ve gone down big league.", "I’m too trusting, and when they let me down, if they let me down, I never forgive.", "I come after them times ten. That’s the way the game is played.", "I’m the most successful person ever to run for president. I mean, off the record, Ross Perot isn’t successful like me. Romney was—I have a Gucci store that’s worth more money than Romney.", "I like people that weren’t captured, okay, I hate to tell you.", "I don’t like losers.", "People that fought hard and weren’t captured and went through a lot, they get no credit. Nobody even talks about them. They’re like forgotten. And I think that’s a shame, if you want to know the truth.", "I wish good luck to all of the Republican candidates that traveled to California to beg for money etc. from the Koch Brothers.", "Puppets?", "There aren’t a lot of people that would do that.", "Look at that face. Would anyone vote for that?", "I just realized that if you listen to Carly Fiorina for more than ten minutes straight, you develop a massive headache.", "Carly whatever-the-hell-her-name-is…", "The last thing we need is another Bush.", "Go Jeb!", "Okay, more energy tonight. I like that.", "Weak like a baby on immigration.", "Since you’re always sweating, we thought you could use some water. Enjoy!", "We don’t need somebody that doesn’t make a deal.", "Maybe a nurse.", "I never tried to hit my mother in any way, shape or form.", "When you have pathological disease, that’s a very serious problem because that’s not something that’s cured.", "I hope that there is not going to be a problem…", "I’m not looking to see anything bad happen.", "Anybody have a knife and want to try it on me?", "If you’re a child molester—a sick puppy—you’re a child molester, there’s no cure for that. … If you’re a child molester, there’s no cure. They can’t stop you. Pathological? There’s no cure.", "He goes into the bathroom for a couple hours, and comes out, and now he’s religious.", "Give me a break.", "I guess we’ll have to go to war.", "One person said she’s a woman. That was the best answer.", "Hillary Clinton is weak on illegal immigration, among many other things. She is strong on corruption—corruption is what she’s best at!", "Well, she has a new hairdo, did you notice that today?", "Maniac.", "I would never give up my microphone.", "I thought that was disgusting.", "[Race relations are] almost as bad as they have ever been in the history of the country.", "I’m not a sitting senator, I’m not a sitting anything else, I’m a good businessman", "I don’t talk about it anymore.", "Our great African American President hasn’t exactly had a positive impact on the thugs who are so happily and openly destroying Baltimore!", "It’s going to only get worse.", "When Mexico sends its people, they’re not sending their best. They’re not sending you. They’re not sending you. They’re sending people that have lots of problems, and they’re bringing those problems with us. They’re bringing drugs. They’re bringing crime. They’re rapists. And some, I assume, are good people.", "I love the Mexican people, but Mexico is not our friend. They’re killing us at the border and they’re killing us on jobs and trade. FIGHT!", "Our Southern border is unsecure. I am the only one that can fix it, nobody else has the guts to even talk about it.", "Hypocrite", "Foolish people!", "I have thousands of Hispanics working for me & they like me very much.", "I don’t have a racist bone in my body.", "Only Rosie O’Donnell.", "Yes, I’m sure it was.", "I think the big problem this country has is being politically correct.", "What I say, and oftentimes it’s fun, it’s kidding. We have a good time.", "I will be phenomenal to the women. I want to help women.", "I’ve always been good to women and there will be nobody better to women.", "I cherish women. I will be so good to women. I will work hard to protect women.", "I find women to be amazing.", "Heidi Klum. Sadly, she’s no longer a 10.", "I respect women more than I respect men. I have great respect, admiration. Hillary Clinton said you shouldn’t cherish women. I do cherish women. I love women. My mother was like the greatest woman I ever met. And Hillary, who’s become very shrill. You know the word shrill? Shrill…", "There’s nobody that’s better to women.", "My wife and Ivanka, women respect her so much, she said, 'Dad, you respect and love women so much but people don’t really understand how you feel.'", "Do we love these polls?", "I think a lot of things are going to come out that are not so great for the opponents.", "I’m a believer in polls. I only like them because I’ve been number one for one hundred days now, which is pretty good. How often do you see polls are wrong? Not too often.", "I honestly think those polls are wrong.", "Second is terrible to me.", "I have a great relationship with African Americans, as you possibly have heard. I just have great respect for them. And they like me.", "I have friends that are Muslim. They’re great people, amazing people. And most Muslims—like most everything—I mean, these are fabulous people. But we certainly do have a problem.", "I love the Muslims. I think they’re great people.", "I would do that, absolutely. I think it’s great.", "No, not at all.", "Donald J. Trump is calling for a total and complete shutdown of Muslims entering the United States until our country’s representatives can figure out what is going on.", "This political media, they are the worst. They are very dishonest, many of them.", "Go back to Univision.", "All I know is I have a very big group of support, and I think one of the reasons is the people don’t trust you, and the people don’t trust the media. And I understand why.", "Pure scum!", "We’re going to set a record for that, too.", "What a dope!", "My moral authority is better than his moral authority, that I can tell you.", "Let’s all take a moment to remember all of the heroes from a very tragic day that we cannot let happen again!", "It has not been easy for me. It has not been easy for me. And, you know, I started off in Brooklyn. My father gave me a small loan of a million dollars.", "Apologizing’s a great thing but you have to be wrong. I will absolutely apologize sometime hopefully in the distant future if I’m ever wrong.", "I apologize when I’m wrong. … I said nothing wrong.", "I won’t do that, because I’ve said nothing wrong.", "I would never say bad about any religion. I didn’t say anything bad about it. I would certainly give an apology if I said something bad about it.", "The young intern who accidentally did a Retweet apologizes.", "MAKE AMERICA GREAT AGAIN!", "I never said that. I never said that.", "Our president wants to take in 250,000 [immigrants] from Syria.", "I predicted Osama bin Laden. In my book, I predicted terrorism. Because I can feel it, like I feel a good location, OK?", "I think Ronald Reagan liked me a lot more than he liked a lot of other people.", "Humble.", "I don’t wear a toupée. It’s my hair.", "Number one is my hair… It may not be pretty, but it’s mine.", "You know, the president is thinking about signing an executive order where he wants to take your guns away.", "Not gonna happen. That won’t happen. But that’s a tough one.", "You’re going to have these things happen and it’s a horrible thing to behold, horrible.", "I’m for traditional marriage.", "I’m not a big fan of the email stuff.", "They’re hacking your messages.", "I think [General] MacArthur would not like the whole concept of computers.", "My wife ... She’s actually very smart.", "I will see what happens. I have to be treated fairly.", "I would bomb the shit out of them.", "You bomb the hell out of the oil. Don’t worry about the cities. The cities are terrible.", "You kill them at the head.", "I’m not looking to quagmire…", "I am the toughest guy. … Nobody’s going to mess with us.", "We’re being laughed at all over the world.", "I beat China all the time. All the time.", "China rebuilt China with our money. And I love China. They buy my apartments. They’re great. They’re getting away with murder, they know it. I get along with them fine—they’re tenants of mine in buildings. They’re great.", "We are a whipping post. We are a laughingstock as a country. We’re not respected anymore.", "China is a bully to us…", "Mexico is ripping off the United States big league.", "I promise I will never be in a bicycle race. That I can tell you.", "Well, first of all, it’s not only Russia. We have problems with North Korea where they actually have nuclear weapons, you know, nobody talks about it. We talk about Iran, and that’s one of the worst deals ever made. One of the worst contracts ever signed, ever, in anything, and it’s a disgrace. But, we have somebody over there, a madman, who already has nuclear weapons. We don’t talk about that. That’s a problem. China is a problem, both economically in what they’re doing in the South China Sea, I mean, they are becoming a very, very major force. So, we have more than just Russia. But, as far as the Ukraine is concerned, and you could Syria—as far as Syria, I like—if Putin wants to go in, and I got to know him very well because we were both on 60 Minutes, we were stable mates, and we did very well that night. But, you know that. But, if Putin wants to go and knock the hell out of ISIS, I am all for it, 100 percent and I can’t understand how anybody would be against it…", "We need some unpredictability. We really do. … We’re so predictable.", "The problem we have right now—we have a society that sits back and says we’re not going to do anything.", "A man came up to me yesterday and said, 'You know, Mr. Trump, I’ve been coming to this place for twenty-five years. If you can do the same job for the United States of America as you did making this place incredible'—because it’s the best resort in the country now—he said, 'Wow, would that be something!' I said, 'That’s what I’m going to do!'", "It’s not going to happen with anyone else.", "If I become president, we’re all going to be saying 'Merry Christmas' again, that I can tell you.", "Maybe we should boycott Starbucks.", "Let’s have pizza in New York soon with you & your great family", "I would—there are many, many people out there that I think would be very good.", "I have a great temperament. My temperament is very good, very calm.", "I’m a counterpuncher. I can’t hit people who don’t hit me. Maybe that’s my weakness.", "I really am a nice person. I give tremendous amounts of money away. I love people…", "People are tired of nice.", "I get along with everybody. … I’ll be the greatest unifier of all.", "We’re going to make our country great again. Remember this: the American dream will be back, bigger and stronger, I promise, than ever before. Ever.", "Remember, official campaign merchandise (hats, apparel etc.) can only be bought at donaldjtrump.com. Be careful, don’t get ripped-off", "The best taco bowls are made in Trump Tower Grill. I love Hispanics!"];
  
  // Then pick a random answer from the array
  var randomAnswer = answers[Math.floor(Math.random() * answers.length)];
  
  
  var memorial = document.getElementById("memorial");
  
  if (memorial) { // test whether Trump statue illustration (as Lincoln memorial) is present
    memorial.parentNode.removeChild(memorial); // if it's present, remove it
  } {
    // The elements in the answer page are hidden on the homepage (display:none;)
    // Make sure they're displayed on the answer page
    var star_wrapper = document.getElementById("star_wrapper");
    star_wrapper.style.display = 'block';
    var question_holder = document.getElementById("question_holder");
    question_holder.style.display = 'block';
    var answer_holder = document.getElementById("answer_holder");
    answer_holder.style.display = 'block';
    
    // Populate question and answer divs with question and answer
    question_holder.innerHTML = '<span class="smallcaps">You asked&#8230;</span><br/>' + question;
    answer_holder.innerHTML = '<span class="smallcaps">Trump says&#8230;</span><br/>' + randomAnswer;
    
    
    
    // ACTION NEEDED: If the same user asks a second question, or third, how do you get rid of any existing Tweet buttons?
    
    // ACTION NEEDED: Add Facebook sharing functionality
    
    
    // Generate Tweet button
    twttr.ready(
    function (twttr) {
      twttr.widgets.createShareButton(
      "https://AskChairmanTrump.com",
      document.getElementById("tweet-container"),
      {
        size: "large",
        related: "twitterapi,twitter",
        text: '"' + randomAnswer + '"'
        
      }
      );
      twttr.widgets.load();
      
    });
    
    // Change the input_label for the form input to 'Ask another'
    var input_label = document.getElementById("input_label");
    input_label.innerHTML = 'Ask another:';
  
};
});
});
</script>
      </div>
    </div>
        
      <div class="push"></div> <!-- This keeps the footer at the bottom of the page -->
      <div class="mastfoot"> <!-- Footer -->
        <div class="CTA">
          <a href="http://www.urbanoutfitters.com:80/urban/catalog/productdetail.jsp?id=39694302"><%= image_tag("book.png", :alt => "Trump's lovely face", :class => "book") %></a>
          <p class="CTA_text"><a href="http://www.urbanoutfitters.com:80/urban/catalog/productdetail.jsp?id=39694302">Buy the Book!</a></p> <!-- Modify this hyperlink target? -->
          <!--<p class="copyright"><small>&#169; 2016 by RosettaBooks</small></p>-->
          </div>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    
  </body>
</html>