// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * Globals
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
}
/* modern clearfix */
.cf:before,
.cf:after {
    content:"";
    display:table;
    line-height:0;
}
.cf:after {
    clear:both;
}

/* Site uses Bootstrap 3.1; these are the custom mods */

/*
 * Basic setup
 */

html,
body {
  background-color: #ea0025;
  color: white;
  height: 100%;
  font-family: "Crimson Text", serif;
}
body {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Crimson Text", serif;
}
p, div {
    font-family: "Crimson Text", serif;
}

/*
 * Footer-specific setup
 */
.body_wrapper { /* make body fill height except 10em at bottom; this is present because of footer */
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -12.65em;
}

/*
 * Block-level styles
 */
 
img.consult_wisdom{ /* Site header */
  padding: 1em;
}
 
.subheader{ /* This is the blue bar just under the main site branding */
  background-color: #1a075e;
  padding: 0.25em;
  font-size: 4vw;
  font-style: italic;
  font-family: "Crimson Text", serif;
}

.central_staging { /* center-align the central content of the page */
    margin: auto;
    text-align: center;
}

img#memorial{ /* Only on homepage, Trump statue as Lincoln Memorial illustration */
  margin-bottom: 1em;
}

#question_holder{
  display: none; /* Hide question holder on homepage */
  padding: 0.5em;
  border: 2px solid red;
  box-shadow: 0 0 0 0.33em white;
  margin-top: 1em;
  margin-bottom: -1em;
  background-color: white;
  color: black;
  font-style: italic;
  font-size: 1.75em;
}
#star_wrapper {
  display: none; /* Hide star illustration on homepage */
  text-align: center;
}
#star_wrapper img{
  margin-top: -1em;
  margin-bottom: -1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  z-index: 2;
  position: relative;
}
#answer_holder{
  display: none; /* Hide answer holder on homepage */
  padding: 0.5em;
  background-color: white;
  color: black;
  font-style: normal;
  font-size: 1.75em;
  border-top: 0.5em solid #1a075e;
  border-bottom: 0.75em solid #1a075e;
  margin-top: -1em;
  margin-bottom: 1em;
  width: 100%;
  z-index: 1;
  position: relative;
}

.input_label{
  text-transform: uppercase;
}

#magic-eight-ball{ /* User input form */
  text-align:center;
  margin-bottom: 3em;
}

.form-control { /* User input */
  display: inline-block;
  width: 80%;
  margin-bottom: 3em;
}

/*
 * Footer
 */
.mastfoot, .push { /* make footer fill enough for the book image */
  height: 12.65em;
}
.mastfoot{
  background-color: #1a075e;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url('star.png');
  background-repeat: repeat-x;
  background-size: 3em;
  background-position: left center;
}
.CTA{
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #1a075e;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}
.CTA img {
  position: relative;
  top: -2.5em;
  display: inline;
  width: 9em;
}
.CTA_text{
  text-transform: uppercase;
  font-size: 1.25em;
  display: inline;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.66px;
}

/*
 * Inline styles
 */
a, a:hover, a:visited{
  color: white;
}
.smallcaps{
  text-transform: uppercase;
  font-variant: small-caps;
  font-style: normal;
}

/*
 * Media queries (styles above are mobile-first)
 */

@media (min-width: 400px) { /* Bigger mobile screens */
  #star_wrapper img {
    width: 70%;
  }
}

@media (min-width: 525px) {
}

@media (min-width: 768px) { /* Bigger tablets */
  img.consult_wisdom{
    max-width: 70%;
  }
  p.subheader{
    font-size: 2.5vw;
  }
  .central_staging{
    width: 60vw;
  }
  .answer_page{
  margin: 0;
  }
}


@media (min-width: 992px) { /* Even bigger tablets or desktops */
  p.subheader{
    font-size: 1.75vw;
  }
  .answer_page{
  margin: 0 auto;
  }
  .central_staging{
    width: 40vw;
  }
}