<!DOCTYPE html>
<html>
<head>
  <title>Ask Chairman Trump</title>
  <!--Bootstrap CDN-->
  <!-- Latest compiled and minified CSS -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!--jQuery-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  
  <!--Twitter integration-->
  <link rel="canonical"
  href="https://dev.twitter.com/web/tweet-button">
  
  <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
  
  <!--Use Crimson for basic body text-->
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  
  <script type="text/javascript">var switchTo5x=true;</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
